.cartTable {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: 1px solid #d8d8d8;
}

.cartTable td {
  display: block;
  flex-wrap: wrap;
  color: #000;
  display: table-cell;
  text-align: center;
  padding: 20px 0;
}

.cartProduct {
  display: flex;
  align-items: center;
}

.productImg {
  height: 70px;
  width: 70px;
  background: #fafafa;
  border-radius: 100%;
  margin-right: 25px;
}

.productImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  object-position: top center;
}

.cartProductContent {
  padding-right: 25px;
  text-align: left;
}

.cartProductContent h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
}

.quantity {
  border-radius: 50px;
  padding: 0 20px;
  display: inline-flex;
  align-items: center;
  border: 1px solid #d8d8d8;
  height: 49px;
}
.quantity span {
  font-size: 18px;
  color: #000;
  margin: 0 18px;
  font-weight: 700;
  height: 32px;
}
.quantityButton {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
  border-radius: 0;
  font-family: "Poppins";
}

.removeProduct {
  top: 5px;
  right: 0;
  width: auto !important;
  position: static;
}

.removeIcon {
  height: 32px;
  cursor: pointer;
}

@media only screen and (max-width: 580px) {
  .cartProduct {
    flex-direction: column;
    align-items: flex-start;
  }
  .productImg{
    height: 40px;
    width: 40px;
    margin-right: 0;
  }
  .cartProductContent h3 {
    font-size: 11px;
  }
 
  .quantity{
    padding: 0;
  }
}
