.container{
  margin-top: 3rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper{
  display: flex;
  align-items: flex-start;
  margin-bottom: 5rem;
}
.image {
  max-width: 376px;
  max-height: 376px;
  display: flex;
  margin-right: 110px;
  margin-left: 6rem;
  margin-bottom: 0;
}
.image img{
  max-width: 376px;
  max-height: 376px;
}

.content{
  flex: 1 1;
  position: relative;
}

.info{
  margin-bottom: 60px;
}
.title{
  font-size: 30px;
  color: #868686;
}
.price{
  font-size: 25px;
  text-decoration: none;
  line-height: 1.42;
  color: rgb(48, 44, 44);
}
.desc::first-letter{
  text-transform: uppercase;
}
.desc{
  color: #4e4e4e;
}

.basketProduct{
  text-indent: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0px;
  font-size: 16px;
  background: rgb(3, 168, 124);
  color: rgb(255,255,255);
  border: 0px;
  text-align: center;
  text-decoration: none;
}
.basketIcon{
  width: 24px;
  height: 30px;
  display: inline-block;
  vertical-align: -15%;
  margin-right: 10px;
  margin-left: -15px;
}