.container {
  border-bottom: 1px solid #ebebeb;
  position: relative;
  z-index: 100;
  background-color: #fff;
}
.wrapper {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 5vh;
}

.brand{
  margin-left: 2rem;
  color:rgb(0, 124, 124)
}

.language {
  font-size: 14px;
  cursor: pointer;
}

.center {
  flex: 1;
  text-align: center;
  position: relative;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cartCount{
  position: absolute;
  top: 3.3rem;
  right: 3rem;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #47c6eb;
  color: #fff;
  opacity: 0.9;
  font-size: 14px;
  font-weight: 600;
}
.menuButton{
  outline: none;
  border: none;
  padding: 5px 10px;
  margin-left:25px;
  background-color: rgb(11, 133, 127);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  width: 70px;
}

.menuItem {
  padding: 1rem;
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}
.colorfulBand {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 8px;
}
