.container {
  border-bottom: 1px solid #cadb2f;;
  position: relative;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(75, 75, 75, 0.2);
}
.wrapper {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 5vh;
}

.brand{
  margin-left: 2rem;
  color:rgb(0, 124, 124)
}

.hamburgerMenu{
  cursor: pointer;
  display: none;
}



.center {
  flex: 1;
  text-align: center;
  position: relative;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cartCount{
  position: absolute;
  top: 3.3rem;
  right: 3rem;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #47c6eb;
  color: #fff;
  opacity: 0.9;
  font-size: 14px;
  font-weight: 600;
}
.menuButton{
  outline: none;
  border: none;
  padding: 5px 10px;
  margin-left:25px;
  background-color: rgb(11, 133, 127);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  width: 70px;
  cursor: pointer;
}

.menuItem {
  padding: 1rem;
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}
.colorfulBand {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 8px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}


@media only screen and (max-width: 768px){
  .hamburgerMenu  {
    display: block;
  } 
  .menuButton {
    display: none;
  }
  .right {
    display: none;
  }
  .wrapper {
   padding-left: 8%;
  }
  .left{
    justify-content: flex-end;
  }
}

