.container {
  width: 100vw;
  display: block;
  position: relative;
}

.wrapper {
  width: 100vw;
  display: block;
  margin: 0 auto;
  position: relative;
}
.menu {
  width: 100vw;
    display: flex;
    position: relative;
    padding:0;
    margin: 0;
}
.menuItem {
    box-sizing: border-box;
    position: relative;
    color: #646464;
    width: 100%;
    display: block;
    padding: 15px 42px 15px 42px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -.28px;
}


