.container{
    display: flex;
    background-color: #fcfbf9;
}
.left{
flex: 1;
display: flex;
flex-direction: column;
padding: 20px;
}
.title{
    margin-left: 2rem;
    color: rgb(0, 124, 124);
}

.desc{
    margin: 20px 0px;

}

.socialContainer{
    display: flex;

}
.socialIcon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px; 
}

.center{
    flex: 1;
    padding: 20px;
}


.title{
    margin-bottom: 30px;
}


.list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.listItem{
    width: 50%;
    margin-bottom: 10px;
}


.right{
    flex: 1;
    padding: 20px;
}

.contanctItem{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.payment{
    width: 50%;
}

@media only screen and (max-width:630px){
      .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .title{
          margin-left: 0;
          width: 100%;
          text-align: center;
      }
      .desc{
          width: 100%;
          text-align: center;
      }
      .socialIcon{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0;
      }
      .listItem{
          text-align: center;
      }
      .right{
          width: 100%;
      }
      .contactItem{
          text-align: center;
          margin-bottom: 5px;
      }
      .payment{
        display: block;
        margin: 0 auto;
      }
}