.container {
  position: relative;
    width: 200px;
    height: 300px;
    font-weight: 400;
    font-style: normal;
    padding: 1rem;
    margin: 0.5rem;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    font-size: 1.2rem;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px !important;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.image {
  position: relative;
  left: 15%;
  width: 75%;
height: 130px;
  z-index: 2;

}

.details{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: center;
}
.title{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3rem;
  font-size: 13px;
  height:100px;
  overflow: hidden;
  font-weight: 600;
}
.price{
  color: rgb(68, 68, 68);
  font-weight: 600;
  display: flex;
  margin-left: 1rem;
  width: 100%;
}

.cart{
  position: relative;
  bottom: 28px;
  left: 7rem;
  width: 50%;
}
.productButton{
  outline: none;
  border: none;
  background-color: #fff;
}
.cartIcon{
  width: 2.5rem !important;
  height: 2rem !important;
  cursor: pointer;
  color: #fff;
  background-color: rgb(0,124,124);;
  text-align: center;
  align-self: flex-end;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.28);
  padding: .25rem .5rem;
}

@media only screen and (max-width:595px){
  .container{
    width: 150px;
    height: 250px;
    grid-gap: 0;
    margin: 20px;
  }
  .image{
    height: 90px;
  }
  .cart{
    left: 5rem;
  }
}

@media only screen and (max-width:375px){
  .container{
    width: 120px;
    height: 175px;
    grid-gap: 0;
    margin: 20px;
  }
  .image{
    height: 75px;
  }
  .title{
    padding-top: 1rem;
    font-size: 11px;
    height: 50px;
  }
  .price{
    margin-left: 0;
  }
  .cart{
    bottom: 28px;
    left: 3.5rem;
  }
  .cartIcon{
    width: 2rem !important;
    height: 1.5rem  !important;
  }

}