.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerFluid{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.centeredContainer {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centeredTitle{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 0 0 18px 0;
}
.titleUnderline {
  border-style: solid;
  border-width: 2px 21px;
  color: #cadb2f;
  border-radius: 2px;
  margin-block-start: -31px;
}

.seasonProducts{
  display: flex;
  flex-wrap: wrap;
}
.seasonProduct{
  width: 200px;
}
